*
!.bash_profile
!.gitignore
!.gitconfig
!.gitexcludes
!liquidprompt
!liquidprompt/liquid.ps1
!liquidprompt/liquid.theme
!liquidprompt/liquidprompt
!liquidprompt/liquidprompt.plugin.zsh
!liquidprompt/liquidpromptrc-dist
!liquidprompt/pmset-simulator
!git-completion.bash
!git-prompt.sh
!iterm-profiles/com.googlecode.iterm2.plist
